body {
  background-color: #393f33;
}
h1 {
  border: 2px solid #d2c9b9;
}
div {
  margin: auto;
}
.wok-logo {
  position: absolute;
  left: 0;
  top: 0;
}
.h1-tittel {
  color: #d2c9b9;
  position: absolute;
  text-align: center;
  top: 25px;
  left: 450px;
}

.menu-holder {
  border: 5px solid #d2c9b9;
  top: 0;
  position: absolute;
  right: 0;
  height: 425px;
  width: 350px;
}

.menu {
  color: #d2c9b9;
  display: flex;
  width: 30%;
  height: 30%;
  padding-top: 10px;
}

.historie {
  position: absolute;
  left: 50px;
  top: 400px;
  color: #d2c9b9;
}
